.ball-body {
    background: rgb(14,13,13);
    margin-left: 25%;  
  }

  .shadow {
    position: relative;
    top: 19em;
    left: 50%;
    margin-left: -1em;
    width: 2em;
    height: 1em;
    background:rgb(204, 55, 85);
    border-radius: 50%;
    -webkit-animation:   pulse 1s infinite alternate;
    -moz-animation:     pulse 1s infinite alternate;
    -o-animation:       pulse 1s infinite alternate;
    animation:          pulse 1s infinite alternate;
  }
  
  @-webkit-keyframes pulse {
    0% { width: 2em; margin-left: -1em; }
    75% { width: 2.5em; margin-left: -1.25em; }
    100% { width: 3em; margin-left: -1.5em; }
  }
  @-webkit-keyframes pulse {
    0% { width: 2em; margin-left: -1em; }
    75% { width: 2.5em; margin-left: -1.25em; }
    100% { width: 3em; margin-left: -1.5em; }
  }
  @-moz-keyframes pulse {
    0% { width: 2em; margin-left: -1em; }
    75% { width: 2.5em; margin-left: -1.25em; }
    100% { width: 3em; margin-left: -1.5em; }
  }
  @-o-keyframes pulse {
    0% { width: 2em; margin-left: -1em; }
    75% { width: 2.5em; margin-left: -1.25em; }
    100% { width: 3em; margin-left: -1.5em; }
  }
  @keyframes pulse {
    0% { width: 2em; margin-left: -1em; }
    75% { width: 2.5em; margin-left: -1.25em; }
    100% { width: 3em; margin-left: -1.5em; }
  }
  
  .ball {
    position: relative;
    cursor: pointer;
    background: crimson;
    top: 5em;
    width: 5em;
    height: 5em;
    border-radius: 50%;
    margin: 0 auto;
    z-index: 2;
    -webkit-animation: bounce .5s cubic-bezier(.63,.09,.75,.46) infinite alternate;
    -moz-animation:    bounce .5s cubic-bezier(.63,.09,.75,.46)  infinite alternate;
    -o-animation:      bounce .5s cubic-bezier(.63,.09,.75,.46)  infinite alternate;
    animation:         bounce .5s cubic-bezier(.63,.09,.75,.46)  infinite alternate;
  }
  
  @-webkit-keyframes bounce {
    0%, 10% { top: 5em; height: 5em; width: 5em; }
    15% { height: 5.15em; width: 4.9em; }
    35% { height: 6em; width: 4.5em; }
    75% { height: 6em; width: 4.5em; }
    95% { height: 4em; width: 5.5em; }
    100% { top: 18em; height: 1em; width: 5em; }
  }
  @-moz-keyframes bounce {
    0%, 10% { top: 5em; height: 5em; width: 5em; }
    15% { height: 5.15em; width: 4.9em; }
    35% { height: 6em; width: 4.5em; }
    75% { height: 6em; width: 4.5em; }
    95% { height: 4em; width: 5.5em; }
    100% { top: 18em; height: 1em; width: 5em; }
  }
  @-o-keyframes bounce {
    0%, 10% { top: 5em; height: 5em; width: 5em; }
    15% { height: 5.15em; width: 4.9em; }
    35% { height: 6em; width: 4.5em; }
    75% { height: 6em; width: 4.5em; }
    95% { height: 4em; width: 5.5em; }
    100% { top: 18em; height: 1em; width: 5em; }
  }
  @keyframes bounce {
    0%, 10% { top: 5em; height: 5em; width: 5em; }
    15% { height: 5.15em; width: 4.9em; }
    35% { height: 6em; width: 4.5em; }
    75% { height: 6em; width: 4.5em; }
    95% { height: 4em; width: 5.5em; }
    100% { top: 18em; height: 1em; width: 5em; }
  }